.header {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  background-color: $grayColor;

  &-navigation {
    height: inherit;
    display: flex;
    font-size: 1.25rem;
    font-weight: 600;

    &-list {


      &-item {
        position: relative;
        margin-left: 2.125rem;
        display: inline-flex;
        align-content: center;

        &:hover > .header-navigation-sublist {
          opacity: 1;
          transform: scaleY(1);
        }

        &-link {
          display: inline-flex;

          &:hover {
            color: $redColor;
            transition: .3s;
          }

          &:active {
            color: blue;
          }

          /* &:hover ~ .header-navigation-sublist {
             opacity: 1;
             transform: scaleY(1);
             visibility: visible;
           }*/
        }

        &-arrow {
          position: relative;
          top: 0.063rem;
          margin-left: 0.563rem;
        }
      }
    }

    &-sublist {
      position: absolute;
      box-shadow: 0 1.063rem 2.5rem rgba(25, 69, 122, 0.1);
      top: 100%;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0 0;
      transition: .5s ease-in-out;

      &-item {

        &-link {
          display: block;
          background-color: white;
          width: 15.25rem;
          padding: 0.781rem 0.625rem 0.781rem 1.25rem;

          &:hover {
            color: $redColor;
            transition: .3s;
          }

          &:active {
            color: $darkBlue;
            background-color: rgba(25, 69, 122, 0.1);
          }
        }
      }
    }
  }
}