div.header
    .container
        .row
            .col-6
                .header-logo
                    img(src='./img/Logo.svg' alt='arrow')
            .col-6
                nav.header-navigation
                    ul.header-navigation-list
                        li.header-navigation-list-item
                            a.header-navigation-list-item-link(href='/') Company
                            img.header-navigation-list-item-arrow(src='./img/menuArrow.svg' alt='arrow')
                            ul.header-navigation-sublist
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link Item 1
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link Item 2
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link Item 3
                        li.header-navigation-list-item
                            a.header-navigation-list-item-link(href='/') Services
                            img.header-navigation-list-item-arrow(src='./img/menuArrow.svg' alt='arrow')
                            ul.header-navigation-sublist
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link Item 4
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link Item 5
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link Item 6
                        li.header-navigation-list-item
                            a.header-navigation-list-item-link(href='/') Our Prices









