div.header
    .container
        .row
            .col-6
                .header-logo
                    a(href='/')
                        img(src='./img/Logo.svg' alt='arrow')
            .col-6
                nav.header-navigation
                    ul.header-navigation-list
                        li.header-navigation-list-item
                            a.header-navigation-list-item-link(href='/') Company
                                img.header-navigation-list-item-arrow(src='./img/menuArrow.svg' alt='arrow')
                            ul.header-navigation-sublist
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link(href='/') About Us
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link(href='/') Contact Us
                        li.header-navigation-list-item
                            a.header-navigation-list-item-link(href='/') Services
                                img.header-navigation-list-item-arrow(src='./img/menuArrow.svg' alt='arrow')
                            ul.header-navigation-sublist
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link(href='/') Search Engine Optimisation (SEO)
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link(href='/') Pay Per Click (PPC)
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link(href='/') Social Media Marketing ( SMM)
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link(href='/') Digital Content Marketing
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link(href='/') Digital Marketing Audit
                                li.header-navigation-sublist-item
                                    a.header-navigation-sublist-item-link(href='/') Email Marketing
                        li.header-navigation-list-item
                            a.header-navigation-list-item-link(href='/') Our Prices









